.App {
  /* text-align: center; */
}


* {
  padding: 0;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}
.issue {
  /* border: 1px solid #d1d5da; */
  max-width: 600px;
  margin-bottom: 10px;
  background-color: #FFF;
}

.issue-header {
  background: #f8f9fa;
  padding: 10px 20px;
  font-size: 16px;
  color: dimgrey;
}

.issue-header:hover {
  color: green;
  cursor: pointer;
}

.issue-body {
  padding: 20px;
  font-size: 14px;;
}

